@page "/History"

<Drawer />

<div class="navbar rounded">
    <a class="btn btn-ghost" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
    </a>
    <div class="text-2xl font-bold px-2">
        Result History
    </div>
</div>

<table class="table w-full rounded shadow">
    <thead>
        <tr>
            <th class="normal-case">ID</th>
            <th class="normal-case">Workload</th>
            <th class="normal-case">StartTime</th>
            <th class="normal-case">RunningTime</th>
            <th class="normal-case">WorkloadCount</th>
            <th class="normal-case">TotalRequest</th>
            <th class="normal-case">SUCCEED(SUM)</th>
            <th class="normal-case">ERROR(SUM)</th>
            <th class="normal-case">RPS(SUM)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.results)
        {
            <tr class="hover">
                <td><a href="/Result/@item.ExecutionId.AsPrimitive()">@item.ExecutionId</a></td>
                <td>@item.Workload</td>
                <td>@item.StartTime.ToLocalTime().ToString()</td>
                <td>@item.RunningTime?.ToString(@"hh\:mm\:ss")</td>
                <td>@item.WorkloadCount</td>
                <td>@item.TotalRequest</td>
                <td>@item.SucceedSum</td>
                <td>@item.ErrorSum</td>
                <td>@item.RpsSum</td>
            </tr>
        }
    </tbody>
</table>