@inherits LayoutComponentBase

@using DFrame.Web.Models
@inject ISummaryService SummaryService

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="col-auto offset-1">
            <div class="row">ExecuteId</div>
            <div class="row">@SummaryService.Summary.ExecuteId</div>
        </div>
        <div class="col-auto offset-1">
            <div class="row">HOST</div>
            <div class="row">@SummaryService.Summary.Host</div>
        </div>
        <div class="col-auto offset-sm-1">
            <div class="row">STATUS</div>
            <div class="row">@SummaryService.Summary.Status</div>
        </div>
        <div class="col-auto offset-md-1">
            <div class="row">WORKERS</div>
            <div class="row">@SummaryService.Summary.Workers</div>
        </div>
        <div class="col-auto offset-1">
            <div class="row">RPS</div>
            <div class="row">@SummaryService.Summary.Rps.ToString("0.0")</div>
        </div>
        <div class="col-auto offset-1">
            <div class="row">FAILURES</div>
            <div class="row">@SummaryService.Summary.Failures.ToString("0.0")%</div>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

