<div>
    @if (Statistics == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th># Requests</th>
                    <th># Fails</th>
                    <th>Median (ms)</th>
                    <th>90%ile (ms)</th>
                    <th>Average (ms)</th>
                    <th>Min (ms)</th>
                    <th>Max (ms)</th>
                    <th>Average size (bytes)</th>
                    <th>Current RPS	</th>
                    <th>Current Failures/s</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var statistic in Statistics)
                {
                    <tr>
                        <td>@statistic.Method</td>
                        <td>@statistic.Name</td>
                        <td>@statistic.Requests</td>
                        <td>@statistic.Fails</td>
                        <td>@statistic.Median.ToString("0")</td>
                        <td>@statistic.Percentile90.ToString("0")</td>
                        <td>@statistic.Average.ToString("0")</td>
                        <td>@statistic.Min.ToString("0")</td>
                        <td>@statistic.Max.ToString("0")</td>
                        <td>@statistic.AverageSize.ToString("0")</td>
                        <td>@statistic.CurrentRps.ToString("0.0")</td>
                        <td>@statistic.CurrentFailuresPerSec.ToString("0.0")</td>
                    </tr>
                }
                <tr>
                    <td>@Aggregated.Method</td>
                    <td>@Aggregated.Name</td>
                    <td>@Aggregated.Requests</td>
                    <td>@Aggregated.Fails</td>
                    <td>@Aggregated.Median.ToString("0")</td>
                    <td>@Aggregated.Percentile90.ToString("0")</td>
                    <td>@Aggregated.Average.ToString("0")</td>
                    <td>@Aggregated.Min.ToString("0")</td>
                    <td>@Aggregated.Max.ToString("0")</td>
                    <td>@Aggregated.AverageSize.ToString("0")</td>
                    <td>@Aggregated.CurrentRps.ToString("0.0")</td>
                    <td>@Aggregated.CurrentFailuresPerSec.ToString("0.0")</td>
                </tr>
            </tbody>
        </table>
    }
    <button class="btn btn-primary" @onclick="Refresh">Refresh</button>
</div>

@code {
    [Parameter] public Statistic[] Statistics { get; set; }
    [Parameter] public Statistic Aggregated { get; set; }
    [Parameter] public Func<Task> OnRefresh { get; set; }

    private async Task Refresh()
    {
        await OnRefresh?.Invoke();
    }
}
