@*add DFrame page*@
@page "/execute"

@inject ExecuteService ExecuteService
@inject ISummaryService SummaryService
<!--Hack: Generate Instance-->
@inject IWorkersService WorkerService
@inject IStatisticsService<AbStatistic> StatisticService

<SummaryComponent Summary="@summary"></SummaryComponent>

<h1>Execute</h1>

<ExecuteInputComponent ExecuteData="@executeArgument" Status="@status" OnClickExecute="@OnClickExecute" OnClickStop="@OnClickStop"></ExecuteInputComponent>
<ExecuteOutputComponent ExecuteId="@context?.ExecuteId" HostAddress="@context?.Argument.HostAddress" Status="@context?.Status" Args="@context?.Argument.Arguments"></ExecuteOutputComponent>

@code {
    private IExecuteContext context;
    private ExecuteData executeArgument;

    private string status => context?.Status;
    private Summary summary;

    protected override Task OnInitializedAsync()
    {
        context = ExecuteService.ExecuteContext;
        summary = SummaryService.Summary;
        InitProperty();
        return Task.CompletedTask;
    }

    private void InitProperty()
    {
        executeArgument = context?.Argument ?? new ExecuteData();
    }

    private async Task OnClickExecute(ExecuteData executeData)
    {
        context = ExecuteService.CreateContext(executeData);
        var exec = ExecuteService.ExecuteAsync();
        InitProperty();
        StateHasChanged();
        await exec;
        StateHasChanged();
    }
    private async Task OnClickStop()
    {
        await ExecuteService.StopAsync();
        StateHasChanged();
    }
}
